body {
  font-family: "Poppins";
  background-color: #f0f0f0;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800 !important;
  font-style: italic;
}

p {
  font-size: 0.7rem;
}

.date-card {
  border-bottom-right-radius: 6rem !important;
  width: 90%;
}

.date-label {
  margin-bottom: 0.3rem;
  color: gray;
  letter-spacing: 0.2rem;
}

.invalid-input {
  box-shadow: 0 0 5px red !important;
}

.invalid-label {
  color: lightcoral;
}

.date-validation-message {
  color: lightcoral;
  font-style: italic;
}

input[type="number"] {
  min-width: 70px;
  font-weight: 800;
  text-transform: uppercase;
}

input[type="number"]:hover {
  cursor: pointer;
}

input[type="number"]:focus {
  box-shadow: 0 0 5px mediumpurple;
}

input[type="number"]:focus-visible {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.horizontal-line {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.form-button {
  width: 3rem;
  height: 3rem;
  background-color: mediumpurple;
  left: 42%;
  top: -1.4rem;
}

.SVG-arrow {
  width: 30px;
  height: 30px;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.date-number {
  color: mediumpurple;
}

.attribution {
  width: 90%;
  font-family: cursive;
  font-size: 0.75rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: bold;
}
.attribution a:hover {
  color: hsl(7, 68%, 52%);
}

@media (min-width: 425px) {
  .attribution {
    width: auto;
  }
  h1 {
    font-size: 3.5rem;
  }
  .date-card {
    width: 85%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 0.8rem;
  }
  .date-card {
    width: 60%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    border-bottom-right-radius: 150px !important;
  }
  input[type="number"] {
    font-size: 1rem;
  }
  .form-button {
    width: 4rem;
    height: 4rem;
    top: -2rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  .date-card {
    width: 50%;
  }
  .date-form {
    width: 80%;
  }
  input[type="number"] {
    font-size: 1.4rem;
  }
  .horizontal-line {
    margin-top: 1rem;
  }
  .form-button {
    left: 90% !important;
    width: 4.5rem;
    height: 4.5rem;
    top: -2.2rem;
  }
  .SVG-arrow {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1439px) {
  h1 {
    font-size: 5rem;
  }
  .date-card {
    width: 45%;
  }
  input[type="number"] {
    font-size: 1.5rem;
    max-width: 8rem;
  }
  .form-button {
    left: 88% !important;
    width: 5rem;
    height: 5rem;
    top: -2.4rem;
  }
  .SVG-arrow {
    width: 50px;
    height: 50px;
  }
}
